<section class="current_offers">
    <div class="wrapper">
        <h2 class="title">Актуальні табори</h2>
        <div class=" swiper current_offesr-slider">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <input type="hidden" name="offer_name" value="Черновецький національний табор">
                    <div class="img">
                        <img src="img/current_offesr-slider.png" alt="">
                        <span class="duration">10 днів</span>
                    </div>
                    <div class="slide_text">
                        <h4 class="slide_title">Черновецький національний табор</h4>
                        <span class="slide_date">Відправлення 24.05.2024</span>
                        <div class="slide_flex">
                            <button class="btn btn_card">Замовити</button>
                            <span class="price">1 400 грн</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/current_offesr-slider.png" alt="">
                        <span class="duration">10 днів</span>
                    </div>
                    <div class="slide_text">
                        <h4 class="slide_title">Черновецький національний табор</h4>
                        <span class="slide_date">Відправлення 24.05.2024</span>
                        <div class="slide_flex">
                            <button class="btn btn_card">Замовити</button>
                            <span class="price">1 400 грн</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <input type="hidden" name="offer_name" value="Теорerdvdsvdsbsdетичний курс">
                    <div class="img">
                        <img src="img/current_offesr-slider.png" alt="">
                        <span class="duration">10 днів</span>
                    </div>
                    <div class="slide_text">
                        <h4 class="slide_title">Черновецький національний табор</h4>
                        <span class="slide_date">Відправлення 24.05.2024</span>
                        <div class="slide_flex">
                            <button class="btn btn_card">Замовити</button>
                            <span class="price">1 400 грн</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/current_offesr-slider.png" alt="">
                        <span class="duration">10 днів</span>
                    </div>
                    <div class="slide_text">
                        <h4 class="slide_title">Черновецький національний табор</h4>
                        <span class="slide_date">Відправлення 24.05.2024</span>
                        <div class="slide_flex">
                            <button class="btn btn_card">Замовити</button>
                            <span class="price">1 400 грн</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/current_offesr-slider.png" alt="">
                        <span class="duration">10 днів</span>
                    </div>
                    <div class="slide_text">
                        <h4 class="slide_title">Черновецький національний табор</h4>
                        <span class="slide_date">Відправлення 24.05.2024</span>
                        <div class="slide_flex">
                            <button class="btn btn_card">Замовити</button>
                            <span class="price">1 400 грн</span>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img">
                        <img src="img/current_offesr-slider.png" alt="">
                        <span class="duration">10 днів</span>
                    </div>
                    <div class="slide_text">
                        <h4 class="slide_title">Черновецький національний табор</h4>
                        <span class="slide_date">Відправлення 24.05.2024</span>
                        <div class="slide_flex">
                            <button class="btn btn_card">Замовити</button>
                            <span class="price">1 400 грн</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-btn">
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </div>
</section>