<section class="services_mugs">
    <div class="container">
        <h2 class="title title_left">Кожна дитина буде у захваті від різноманіття наших гуртків:</h2>
        <ul class="items">
            <li class="item">
                <div class="item_img">
                    <img src="img/mugs_img.png" alt="">
                </div>
                <div class="item_text">
                    <p class="text_title">Логіка</p>
                    <p class="text_descr">Курс створений на базі конкурсу «БОБЕР». Уроки логіки для дітей 6-14 років
                        містять веселі завдання на кмітливість, уяву, почуття гумору, логіку, розуміння людської
                        психології, дедукцію тощо.</p>
                    <span class="age">Вік: 9-12 років</span>
                </div>
            </li>
            <li class="item">
                <div class="item_img">
                    <img src="img/mugs_img.png" alt="">
                </div>
                <div class="item_text">
                    <p class="text_title">Логіка</p>
                    <p class="text_descr">Курс створений на базі конкурсу «БОБЕР». Уроки логіки для дітей 6-14 років
                        містять веселі завдання на кмітливість, уяву, почуття гумору, логіку, розуміння людської
                        психології, дедукцію тощо.</p>
                    <span class="age">Вік: 9-12 років</span>
                </div>
            </li>
            <li class="item">
                <div class="item_img">
                    <img src="img/mugs_img.png" alt="">
                </div>
                <div class="item_text">
                    <p class="text_title">Логіка</p>
                    <p class="text_descr">Курс створений на базі конкурсу «БОБЕР». Уроки логіки для дітей 6-14 років
                        містять веселі завдання на кмітливість, уяву, почуття гумору, логіку, розуміння людської
                        психології, дедукцію тощо.</p>
                    <span class="age">Вік: 9-12 років</span>
                </div>
            </li>
            <li class="item">
                <div class="item_img">
                    <img src="img/mugs_img.png" alt="">
                </div>
                <div class="item_text">
                    <p class="text_title">Логіка</p>
                    <p class="text_descr">Курс створений на базі конкурсу «БОБЕР». Уроки логіки для дітей 6-14 років
                        містять веселі завдання на кмітливість, уяву, почуття гумору, логіку, розуміння людської
                        психології, дедукцію тощо.</p>
                    <span class="age">Вік: 9-12 років</span>
                </div>
            </li>
            <li class="item">
                <div class="item_img">
                    <img src="img/mugs_img.png" alt="">
                </div>
                <div class="item_text">
                    <p class="text_title">Логіка</p>
                    <p class="text_descr">Курс створений на базі конкурсу «БОБЕР». Уроки логіки для дітей 6-14 років
                        містять веселі завдання на кмітливість, уяву, почуття гумору, логіку, розуміння людської
                        психології, дедукцію тощо.</p>
                    <span class="age">Вік: 9-12 років</span>
                </div>
            </li>
            <li class="item">
                <div class="item_img">
                    <img src="img/mugs_img.png" alt="">
                </div>
                <div class="item_text">
                    <p class="text_title">Логіка</p>
                    <p class="text_descr">Курс створений на базі конкурсу «БОБЕР». Уроки логіки для дітей 6-14 років
                        містять веселі завдання на кмітливість, уяву, почуття гумору, логіку, розуміння людської
                        психології, дедукцію тощо.</p>
                    <span class="age">Вік: 9-12 років</span>
                </div>
            </li>
        </ul>
    </div>
</section>