<section class="service_points_extend">
    <div class="container">
        <h2 class="title">Шкільні заходи у Honey Academy</h2>
        <p class="descr">Окремий вид мистецтва - це заходи Академії. Ми віримо в те, що шкільні свята - це не лише
            можливість для розваг і розвитку командної роботи, але й важлива частина формування духовної спільноти та
            підтримки традицій життя у стінах Академії. </p>
        <span class="subtitle">Ваші діти можуть насолоджуватися такими авторськими заходами, як:</span>
        <ul class="points_extend_items">
            <li class="points_extend_item">
                <div class="checkbox"></div>
                <p class="text">Піжамна вечірка</p>
            </li>
            <li class="points_extend_item">
                <div class="checkbox"></div>
                <p class="text">Піжамна вечірка</p>
            </li>
            <li class="points_extend_item">
                <div class="checkbox"></div>
                <p class="text">Піжамна вечірка</p>
            </li>
            <li class="points_extend_item">
                <div class="checkbox"></div>
                <p class="text">Піжамна вечірка</p>
            </li>
            <li class="points_extend_item">
                <div class="checkbox"></div>
                <p class="text">Піжамна вечірка</p>
            </li>
        </ul>
    </div>
</section>