<section class="services_courses">
    <div class="container">
        <h2 class="title">Для підлітків 7-11 класів "Next Gen MBA" представлена у "Honey Academy" у кількох варіантах:
        </h2>
        <ul class="wrapper_courses">
            <li class="item">
                <input type="hidden" name="package_name" value="Теоретичний курс">
                <div class="item_top">
                    <span class="duration">70 годин</span>
                    <h4 class="item_title">Теоретичний курс</h4>
                    <span class="price">2 700₴/міс</span>
                </div>
                <span class="border"></span>
                <div class="item_bottom">
                    <ul class="item_list">
                        <li class="list_check">
                            <p class="default active">2 теоритичні заняття на тиждень;</p>
                        </li>
                        <li class="list_check">
                            <p class="default">Практичні інтенсиви по суботах 2 рази на місяць</p>
                        </li>
                        <li class="list_check">
                            <p class="default">Індивідуальна підготовка та захист проєкту: отримання диплома
                                бізнес-школи та стипендії
                                на навчання в університеті Альфреда Нобеля </p>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn_courses">Придбати</a>
                </div>
            </li>
            <li class="item">
                <input type="hidden" name="package_name" value="ntcnpidsv;soimdb">
                <div class="item_top">
                    <span class="duration">70 годин</span>
                    <h4 class="item_title">Теоретичний курс</h4>
                    <span class="price">2 700₴/міс</span>
                </div>
                <span class="border"></span>
                <div class="item_bottom">
                    <ul class="item_list">
                        <li class="list_check">
                            <p class="default active">2 теоритичні заняття на тиждень;</p>
                        </li>
                        <li class="list_check">
                            <p class="default">Практичні інтенсиви по суботах 2 рази на місяць</p>
                        </li>
                        <li class="list_check">
                            <p class="default">Індивідуальна підготовка та захист проєкту: отримання диплома
                                бізнес-школи та стипендії
                                на навчання в університеті Альфреда Нобеля </p>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn_courses">Придбати</a>
                </div>
            </li>
            <li class="item">
                <div class="item_top">
                    <span class="duration">70 годин</span>
                    <h4 class="item_title">Теорія, практика та індивідуальна підготовка до захисту проєкту</h4>
                    <span class="price">2 700₴/міс</span>
                </div>
                <span class="border"></span>
                <div class="item_bottom">
                    <ul class="item_list">
                        <li class="list_check">
                            <p class="default active">2 теоритичні заняття на тиждень;</p>
                        </li>
                        <li class="list_check">
                            <p class="default">Практичні інтенсиви по суботах 2 рази на місяць</p>
                        </li>
                        <li class="list_check">
                            <p class="default">Індивідуальна підготовка та захист проєкту: отримання диплома
                                бізнес-школи та стипендії
                                на навчання в університеті Альфреда Нобеля </p>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn_courses">Придбати</a>
                </div>
            </li>
        </ul>
    </div>
</section>