<section class="services_images_cards">
    <div class="container">
        <h2 class="title">Приєднуйтесь до нашої сім'ї із будь-якого куточка світу!</h2>
        <p class="descr">Офіційна програма у Ліцеї "Honey Academy" посилина авторськими курсами:</p>
        <ul class="cards_items">
            <li class="card_item">
                <div class="img" style="background: url('img/cards_images.png') center center/cover no-repeat;">
                </div>
                <div class="text">
                    <span class="title_card">Project activity DIS у «Honey Academy»</span>
                    <p class="text">DIS (digital information skills) – цифрові інформаційні навички, на яких будується
                        проєктна діяльність «Honey Academy». Ми використовуємо у навчанні метод «Problem-Based
                        Learning», де проблеми є освітнім інструментом. Такий підхід розвиває критичне мислення студента
                        та його вміння втілювати власні ідеї. </p>
                    <a href="javascrip:void(0)" data-fancybox class="link_video">Переглянути відео</a>
                </div>
            </li>
            <li class="card_item">
                <div class="img" style="background: url('img/cards_images.png') center center/cover no-repeat;">
                </div>
                <div class="text">
                    <span class="title_card">Project activity DIS у «Honey Academy»</span>
                    <p class="text">DIS (digital information skills) – цифрові інформаційні навички, на яких будується
                        проєктна діяльність «Honey Academy». Ми використовуємо у навчанні метод «Problem-Based
                        Learning», де проблеми є освітнім інструментом. Такий підхід розвиває критичне мислення студента
                        та його вміння втілювати власні ідеї. </p>
                    <a href="javascrip:void(0)" data-fancybox class="link_video">Переглянути відео</a>
                </div>
            </li>
            <li class="card_item">
                <div class="img" style="background: url('img/cards_images.png') center center/cover no-repeat;">
                </div>
                <div class="text">
                    <span class="title_card">Project activity DIS у «Honey Academy»</span>
                    <p class="text">DIS (digital information skills) – цифрові інформаційні навички, на яких будується
                        проєктна діяльність «Honey Academy». Ми використовуємо у навчанні метод «Problem-Based
                        Learning», де проблеми є освітнім інструментом. Такий підхід розвиває критичне мислення студента
                        та його вміння втілювати власні ідеї. </p>
                    <a href="javascrip:void(0)" data-fancybox class="link_video">Переглянути відео</a>
                </div>
            </li>
        </ul>
    </div>
</section>