<section class="service_events">
    <div class="container">
        <h2 class="title">Шкільні заходи у Honey Academy</h2>
        <ul class="events_items">
            <li class="events_item">
                <div class="img" style="background: url('img/service_events.png') center center/cover no-repeat;"></div>
                <p class="text">Канікули - час для незабутніх пригод і безмежних веселощів! У таборі “Honey Academy”
                    денного перебування ми створили атмосферу, де кожен день - нова екскурсія до неймовірних
                    можливостей!</p>
            </li>
            <li class="events_item">
                <div class="img" style="background: url('img/service_events.png') center center/cover no-repeat;"></div>
                <p class="text">Канікули - час для незабутніх пригод і безмежних веселощів! У таборі “Honey Academy”
                    денного перебування ми створили атмосферу, де кожен день - нова екскурсія до неймовірних
                    можливостей!</p>
            </li>
            <li class="events_item">
                <div class="img" style="background: url('img/service_events.png') center center/cover no-repeat;"></div>
                <p class="text">Канікули - час для незабутніх пригод і безмежних веселощів! У таборі “Honey Academy”
                    денного перебування ми створили атмосферу, де кожен день - нова екскурсія до неймовірних
                    можливостей!</p>
            </li>
            <li class="events_item">
                <div class="img" style="background: url('img/service_events.png') center center/cover no-repeat;"></div>
                <p class="text">Канікули - час для незабутніх пригод і безмежних веселощів! У таборі “Honey Academy”
                    денного перебування ми створили атмосферу, де кожен день - нова екскурсія до неймовірних
                    можливостей!</p>
            </li>
            <li class="events_item">
                <div class="img" style="background: url('img/service_events.png') center center/cover no-repeat;"></div>
                <p class="text">Канікули - час для незабутніх пригод і безмежних веселощів! У таборі “Honey Academy”
                    денного перебування ми створили атмосферу, де кожен день - нова екскурсія до неймовірних
                    можливостей!</p>
            </li>
        </ul>
    </div>
</section>