<section class="services_offers">
    <div class="container">
        <h2 class="title">На вас чекають:</h2>
        <ul class="offers_items">
            <li class="item">
                <img src="img/services_offers.png" alt="">
                <p class="descr">Яскраві емоції</p>
            </li>
            <li class="item">
                <img src="img/services_offers.png" alt="">
                <p class="descr">Якісні фото та різноманітні фотозони</p>
            </li>
            <li class="item">
                <img src="img/services_offers.png" alt="">
                <p class="descr">Яскраві емоції</p>
            </li>
            <li class="item">
                <img src="img/services_offers.png" alt="">
                <p class="descr">Яскраві емоції</p>
            </li>
            <li class="item">
                <img src="img/services_offers.png" alt="">
                <p class="descr">Яскраві емоції</p>
            </li>
        </ul>
        <div class="explanation">
            <img src="img/exclamation.svg" alt="">
            <p class="descr">А для дітей від 10-ти років є можливість проведення свята у Музеї дитинства Honey Academy
                разом з цікавою, пізнавальною та практичною лекцією</p>
        </div>
    </div>
</section>