<section class="services_parents">
    <div class="container">
        <h2 class="title">Для батьків пропонуємо такі види активності:</h2>
        <ul class="items">
            <li class="item">
                <div class="img">
                    <img src="img/services_parents.png" alt="">
                </div>
                <p>Йога для дорослих</p>
            </li>
            <li class="item">
                <div class="img">
                    <img src="img/services_parents.png" alt="">
                </div>
                <p>Йога для дорослих</p>
            </li>
            <li class="item">
                <div class="img">
                    <img src="img/services_parents.png" alt="">
                </div>
                <p>Йога для дорослих</p>
            </li>
        </ul>
    </div>
</section>