<section class="services_gallery">
    <h2 class="title">Трішки фото наших бджілок</h2>
    <div class="services_gallery_swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_1.png') center center/cover no-repeat;">
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_1.png') center center/cover no-repeat;">
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_1.png') center center/cover no-repeat;">
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_1.png') center center/cover no-repeat;">
            </div>
        </div>
        <div class="swiper-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>
</section>