<section class="text_block text_block_img-left">
    <div class="container">
        <h2 class="title">Табір вихідного дня</h2>
        <div class="wrapper">
            <div class="img">
                <img src="img/text_block-1.png" alt="">
            </div>
            <div class="text">
                <span class="text_title">Lorem Ipsum - это текст-"рыба", часто используемый в печати и
                    вэб-дизайне</span>
                <p class="text_descr">Садочок “Honey Аcademy”, натхненним реджіо-підходом, пропонує допомагати малечі в
                    розвитку, а не підганяти її під загальні для всіх вимоги. Це майже партнерство: педагог ставиться до
                    дитини з увагою і повагою, заохочує ставити питання і не поспішає пропонувати готові відповіді,
                    провокуючи розмірковування і фантазування. </p>
                <p class="text_descr">У такій педагогічній технології лежить думка про те, що особистість дитини
                    формується в перші роки його життя. Саме тому так важливо навчити маленьке чудо використовувати всі
                    можливості та здібності, якими наділила його природа. </p>
            </div>
        </div>
    </div>
</section>