<section class="what_have">
    <div class="container">
        <h2 class="title title-what_have">Що в нас для цього є?</h2>
        <ul class="items_1">
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Найрізноманітніші інструменти й матеріали: фарба, глина, пісок, різні сорти паперу, дерево, картон,
                    засушені рослини, насіння, олівці та ручки, нитки, дріт, ґудзики, стрічки, гіпс, камінці, пір'я,
                    ґвинтики, фольга, листочки. </p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Робота в групах: дітей вчать чути думку іншого, аргументувати свою позицію і разом робити спільну
                    справу</p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Неймовірно рухливий, змінний, гнучкий простір садочка: протягом дня тут відбувається чимало подій</p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Дружня атмосфера, що починається із зустрічі друзів у місці, де всі разом граються та спілкуються
                    одне з одним. </p>
            </li>
            <li class="item item_transparent">
                <img src="img/exclamation.svg" alt="">
                <p>Важливо зазначити, що й укриття в садочку облаштовано таким чином, що містить кімнати для
                    різноманітної діяльності.</p>
            </li>
        </ul>
        <ul class="items_1">
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Ранкове коло, на якому обговорюється план на день і цікаві новини</p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Найсучасніші заняття: сенсорика, конструювання, ліплення, аплікація, малювання, театр, англійська,
                    музичні заняття, логіко-математичні, спортивні, природничі та заняття для розвитку уваги</p>
            </li>
            <li class="item item_transparent">
                <img src="img/exclamation.svg" alt="">
                <p>На таких видах діяльності дітям надано право альтернативного вибору, наприклад: на малюванні вони
                    можуть самостійно обрати матеріал та засоби для прояву творчості.</p>
            </li>
        </ul>
        <ul class="items_2">
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Ранкове коло вихователів і малечі, на якому обговорюється план на день і цікаві новини</p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Активні прогулянки у дворі, облаштованому для ігрової діяльності.</p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>П'ятиразове збалансоване харчування, власна кухня, різноманітне меню, за яким можна вибрати конкретні
                    страви</p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Висвітлення в батьківських чатах усього, чим займаємося протягом дня.</p>
            </li>
            <li class="item">
                <img src="img/check-whiteBg.svg" alt="">
                <p>Постійний зворотний зв'язок від менеджера та адміністрації "Honey Academy".</p>
            </li>
        </ul>
    </div>
</section>