<div class="our-values">
    <div class="container">
        <h2 class="title">Наші цінності:</h2>
        <ul class="our-values_items">
            <li class="our-values_item">Розвиток позитивного мислення та стресостійкості</li>
            <li class="our-values_item">Націленість на результат - задоволені діти й спокійні батьки </li>
            <li class="our-values_item">Удосконалення команди - важлива складова успішної роботи</li>
            <li class="our-values_item">Професіоналізм усіх, хто залучений до навчального процесу </li>
            <li class="our-values_item">Ми всі -  одна сім'я, хоч і з різними прізвищами</li>
            <li class="our-values_item">Безперебійність надання якісних освітніх послуг </li>

        </ul>
    </div>
</div>