<div class="services">
    <div class="container">
        <h2 class="title">Послуги</h2>
        <ul class="services_items">
            <li class="services_item">
                <img src="img/services_1.png" alt="">
                <p>Садок</p>
            </li>

            <li class="services_item">
                <img src="img/services_2.png" alt="">
                <p>Музей дитинства</p>
            </li>
            <li class="services_item">
                <img src="img/services_3.png" alt="">
                <p>Музична школа</p>
            </li>
            <li class="services_item">
                <img src="img/services_4.png" alt="">
                <p>Додаткові посуги</p>
            </li>
            <li class="services_item">
                <img src="img/services_5.png" alt="">
                <p>Ліцей</p>
            </li>
            <li class="services_item">
                <img src="img/services_6.png" alt="">
                <p>Kids MBA</p>
            </li>
            <li class="services_item">
                <img src="img/services_7.png" alt="">
                <p>Свята</p>
            </li>
            <li class="services_item">
                <img src="img/services_8.png" alt="">
                <p>Табори</p>
            </li>
            <li class="services_item">
                <img src="img/services_9.png" alt="">
                <p>Харчування</p>
            </li>
        </ul>
    </div>
</div>