<div class="why-choose">
    <div class="container">
        <h2 class="main-title">Чому обирають <i>“Honey Academy”?</i></h2>
        <ul class="why-choose_items">
            <li class="why-choose_item">
                <img src="img/why-choose_1.svg" alt="">
                <p>Можна не турбуватися про безпеку: діти знаходяться у будівлі з укриттям, і завжди під наглядом асистентів та педагогів</p>
            </li>
            <li class="why-choose_item">
                <img src="img/why-choose_2.svg" alt="">
                <p>Гуртки, школа, садочок - усе необхідне поруч, до того ж  розпорядок дня влаштований так, аби ніхто не нудьгував</p>
            </li>
            <li class="why-choose_item">
                <img src="img/why-choose_3.svg" alt="">
                <p>Ми навчаємо дітей допомагати однокласникам, а психолог та ментори у проєктах слідкують за їх спілкуванням</p>
            </li>
            <li class="why-choose_item">
                <img src="img/why-choose_4.svg" alt="">
                <p>Дітям завжди цікаво: кожний із напрямків комплексу працює за найсучаснішими навчальними програмами</p>
            </li>
            <li class="why-choose_item">
                <img src="img/why-choose_5.svg" alt="">
                <p>Діти відчувають себе як удома: на території є власний ігровий та спортивний майданчик, власна кухня, що неймовірно смачно готує</p>
            </li>
            <li class="why-choose_item">
                <img src="img/why-choose_6.svg" alt="">
                <p>Тому що цей наш навчальний заклад - це дружна спільнота: всі ставляться одне до одного, як до сформованих особистостей</p>
            </li>
        </ul>
    </div>
    <img class="top" src="img/why-choose.png" alt="">
    <img class="bottom" src="img/why-choose_bottom.png" alt="">
</div>