<section class="contacts_main">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
              <a class="breadcrumbs-link" href="javascript:void(0)">Головна</a>
            </li>
            <li class="breadcrumbs-item">
              <a class="breadcrumbs-link" href="javascript:void(0)">Галерея</a>
            </li>
            <li class="breadcrumbs-item">
              <span class="breadcrumbs-link  current">Дитячий садок</span>
            </li>
          </ul>
        <h1 class="title">Контакти</h1>
        <div class="wrapper">
            <div class="block_form">
                <form action="#" class="form form_contacts" id="formBase">
                    <h3 class="form_title">Напишіть нам</h3>
                    <div class="form_wrapper">
                        <input class="form_input" type="text" name="name" placeholder="Ваше ім’я">
                        <input class="form_input" type="text" name="number" placeholder="Номер телефону">
                        <input class="form_input" type="text" name="email" placeholder="Ваш e-mail">
                        <textarea class="form_textarea" name="textMessage" placeholder="Ваше питання"></textarea>
                        <button class="btn btn_form" type="submit">Відправити</button>
                    </div>
                </form>
            </div>
            <div class="img">
                <img src="img/email.png" alt="" class="img_main">
                <img src="img/contacts_1.svg" alt="" class="item_1">
                <img src="img/contacts_2.svg" alt="" class="item_2">
                <img src="img/contacts_3.svg" alt="" class="item_3">
                <img src="img/contacts_4.svg" alt="" class="item_4">
            </div>
        </div>
    </div>
</section>