<section class="other_offers">
    <div class="container">
        <div class="wrapper">
            <h3 class="other_offers-title">Можливо, тебе також зацікавлять</h3>
            <div class="current_offesr-slider swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="img">
                                <img src="img/other_offers.png" alt="">
                            </div>
                            <p class="item_title">Чорная кепка Honey Academy</p>
                            <span class="price">250 ₴</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="img">
                                <img src="img/other_offers.png" alt="">
                            </div>
                            <p class="item_title">Чорная кепка Honey Academy</p>
                            <span class="price">250 ₴</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="img">
                                <img src="img/other_offers.png" alt="">
                            </div>
                            <p class="item_title">Чорная кепка Honey Academy</p>
                            <span class="price">250 ₴</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="img">
                                <img src="img/other_offers.png" alt="">
                            </div>
                            <p class="item_title">Чорная кепка Honey Academy</p>
                            <span class="price">250 ₴</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="img">
                                <img src="img/other_offers.png" alt="">
                            </div>
                            <p class="item_title">Чорная кепка Honey Academy</p>
                            <span class="price">250 ₴</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="img">
                                <img src="img/other_offers.png" alt="">
                            </div>
                            <p class="item_title">Чорная кепка Honey Academy</p>
                            <span class="price">250 ₴</span>
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <div class="img">
                                <img src="img/other_offers.png" alt="">
                            </div>
                            <p class="item_title">Чорная кепка Honey Academy</p>
                            <span class="price">250 ₴</span>
                        </a>
                    </div>
                </div>
                <div class="swiper-btn">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                    
                </div>
            </div>
        </div>
    </div>
</section>