<section class="product_card-main">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="javascript:void(0)">Головна</a>
            </li>
            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="javascript:void(0)">Галерея</a>
            </li>
            <li class="breadcrumbs-item">
                <span class="breadcrumbs-link  current">Дитячий садок</span>
            </li>
        </ul>
        <div class="wrapper">
            <div class="slider">
                <div class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery_list.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                    </div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/gallery_list.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                        <div class="swiper-slide">
                            <img src="img/product_card.png">
                        </div>
                    </div>
                </div>
            </div>
            <div class="product_card-text">
                <h2 class="product_card-title">Чашка Honey Academy</h2>
                <p class="availability">В наявності</p>
                <span class="price">250 ₴</span>
                <ul class="product_card-tabs">
                    <p class="descr">Об’єм</p>
                    <li class="item item-active">250</li>
                    <li class="item">300</li>
                    <li class="item">350</li>
                </ul>
                <div class="counter">
                    <p>Кількість</p>
                    <div class="counter_wrapper" data-counter>
                        <div class="counter_button counter_button-minus disabled">-</div>
                        <div class="counter_input"><input type="text" disabled value="1"></div>
                        <div class="counter_button counter_button-plus">+</div>
                    </div>
                </div>
                <button class="btn btn-buy btnPopUp btnBuy">Купити</button>
                <ul class="product_card-info">
                    <li class="item">
                        <p class="strong">Колір</p>
                        <p>Білий+червоний</p>
                    </li>
                    <li class="item grey">
                        <p class="strong">Об'єм</p>
                        <p>350 мл</p>
                    </li>
                    <li class="item">
                        <p class="strong">Заміри чашки</p>
                        <p>Діаметр – 8.5 см, ширина ручки (для обхвату рукою) – 3 см, висота ручки – 5 см</p>
                    </li>
                    <li class="item grey">
                        <p class="strong">Матеріал</p>
                        <p>Кераміка</p>
                    </li>
                    <li class="item">
                        <p class="strong">Нанесення</p>
                        <p>Гаряча деколь</p>
                    </li>
                    <li class="item grey">
                        <p class="strong">Поверхня</p>
                        <p>Матова</p>
                    </li>
                    <li class="item">
                        <p class="strong">Догляд</p>
                        <p>Можна використовувати в мікрохвильовій печі, не рекомендовано мити в посудомийній машині</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="product_card-descr">
            <h4 class="descr_title">Чашка Honey Academy</h4>
            <p class="descr_text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный
                печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки
                образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в
                электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами
                Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker,
                в шаблонах которых используется Lorem Ipsum.</p>
        </div>
    </div>
</section>