@import "libs/fonts";
@import 'libs/variebles';
@import 'libs/normalize';
@import 'libs/swiper';

@import "libs/template_elements/button";
@import "libs/template_elements/title";
@import "libs/template_elements/forms";
@import "libs/template_elements/breadcrumbs";


@import "libs/template_sections/mobile-menu";
@import "libs/template_sections/main_sections";
@import "libs/template_sections/header";
@import "libs/template_sections/footer";
@import "libs/template_sections/video";
@import "libs/template_sections/our-team";
@import "libs/template_sections/reviews";
@import "libs/template_sections/instagram";
@import "libs/template_sections/modal_form";



@import "libs/index/index";
@import "libs/services/services";
@import "libs/404/404";
@import "libs/rates/rates";
@import "libs/blog/blog";
@import "libs/gallery/gallery";
@import "libs/gallery_list/gallery_list";
@import "libs/blog_news/blog_news";
@import "libs/privacy_policy/privacy_policy";
@import "libs/store/store";
@import "libs/product_card/product_card";
@import "libs/contacts/contacts";
@import "libs/verification/verification";



body {
    min-height: 100vh;
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;

}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;

}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    transition: .3s all ease;
}

*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

i {
    font-style: normal;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

input {
    -webkit-appearance: none;
    appearance: none;
}

a {
    cursor: pointer;
}

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}

.WidgetTitle__Header-sc-ruy1gu-2 {
    color: $Color_title;
    text-align: center;
    font-family: "Marck Script";
    font-size: 34px;
    font-weight: 400;
    margin: 0;
}

.eapps-instagram-feed-title {
    color: $Color_title;
    text-align: center;
    font-family: "Marck Script";
    font-size: 34px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 30px;
}

.mrg_top {
    padding: 30px 0;
}

@media (min-width: 648px) {

    .container {
        padding: 0 40px;
    }

    .WidgetTitle__Header-sc-ruy1gu-2 {
        font-size: 44px;
    }

    .eapps-instagram-feed-title {
        padding: 0 0 60px;
        font-size: 44px;
    }

    .mrg_top {
        padding: 45px 0;


    }

    @media (min-width: 960px) {
        .WidgetTitle__Header-sc-ruy1gu-2 {
            font-size: 54px;
        }

        .eapps-instagram-feed-title {
            padding: 0 0 70px;
            font-size: 54px;
        }
        

    }

    @media (min-width: 1366px) {

        .container {
            padding: 0 80px;
        }

        .eui-widget-title {
            padding: 0 0 70px;
        }
        .mrg_top {
            padding: 50px 0;
        }

    }

    @media (min-width: 1880px) {

        .container {
            padding: 0 120px;
        }

        .WidgetTitle__Header-sc-ruy1gu-2 {
            font-size: 64px;
        }

        .eapps-instagram-feed-title {
            font-size: 64px;
        }
        .mrg_top {
            padding: 60px 0;
        }
    }
}


.eapps-instagram-feed-title {
    color: $Color_title;
    text-align: center;
    font-family: "Marck Script";
    font-size: 34px;
    font-weight: 400;
    margin: 0;
    padding: 0 0 30px;
}

.mrg_top {
    padding: 30px 0;
}

@media (min-width: 648px) {

    .container {
        padding: 0 40px;
    }

    .WidgetTitle__Header-sc-ruy1gu-2 {
        font-size: 44px;
    }

    .eapps-instagram-feed-title {
        padding: 0 0 60px;
        font-size: 44px;
    }

    .mrg_top {
        padding: 45px 0;


    }

    @media (min-width: 960px) {
        .WidgetTitle__Header-sc-ruy1gu-2 {
            font-size: 54px;
        }

        .eapps-instagram-feed-title {
            padding: 0 0 70px;
            font-size: 54px;
        }
        

    }

    @media (min-width: 1366px) {

        .container {
            padding: 0 80px;
        }

        .eui-widget-title {
            padding: 0 0 70px;
        }
        .mrg_top {
            padding: 50px 0;
        }

    }

    @media (min-width: 1880px) {

        .container {
            padding: 0 120px;
        }

        .WidgetTitle__Header-sc-ruy1gu-2 {
            font-size: 64px;
        }

        .eapps-instagram-feed-title {
            font-size: 64px;
        }
        .mrg_top {
            padding: 60px 0;
        }
    }
}