<div class="licenses">
    <div class="container">
        <h2 class="title">Ліцензії</h2>
        <ul class="licenses-items">
            <li class="licenses-item">
                <div class="item-text">
                    <img src="img/pdf_icon.svg" alt="">
                    <p>Lorem Ipsum - это текст -"рыба", часто используемый</p>
                </div>
                <a href="javascript:void(0)" class="download-license">
                    <img src="img/download.svg" alt="">
                </a>
            </li>
            <li class="licenses-item">
                <div class="item-text">
                    <img src="img/pdf_icon.svg" alt="">
                    <p>Lorem Ipsum - это текст -"рыба", часто используемый</p>
                </div>
                <a href="javascript:void(0)" class="download-license">
                    <img src="img/download.svg" alt="">
                </a>
            </li>
            <li class="licenses-item">
                <div class="item-text">
                    <img src="img/pdf_icon.svg" alt="">
                    <p>Lorem Ipsum - это текст -"рыба", часто используемый</p>
                </div>
                <a href="javascript:void(0)" class="download-license">
                    <img src="img/download.svg" alt="">
                </a>
            </li>
            <li class="licenses-item">
                <div class="item-text">
                    <img src="img/pdf_icon.svg" alt="">
                    <p>Lorem Ipsum - это текст -"рыба", часто используемый</p>
                </div>
                <a href="javascript:void(0)" class="download-license">
                    <img src="img/download.svg" alt="">
                </a>
            </li>
            <li class="licenses-item">
                <div class="item-text">
                    <img src="img/pdf_icon.svg" alt="">
                    <p>Lorem Ipsum - это текст -"рыба", часто используемый</p>
                </div>
                <a href="javascript:void(0)" class="download-license">
                    <img src="img/download.svg" alt="">
                </a>
            </li>
            <li class="licenses-item">
                <div class="item-text">
                    <img src="img/pdf_icon.svg" alt="">
                    <p>Lorem Ipsum - это текст -"рыба", часто используемый</p>
                </div>
                <a href="javascript:void(0)" class="download-license">
                    <img src="img/download.svg" alt="">
                </a>
            </li>
        </ul>
    </div>
</div>