<div class="mobile-menu">
    <div class="wrapper">
        <span class="close"></span>
        <a href="javascript:void(0)" class="logo_mobile">
            <img src="img/logo-black.svg" alt="">
        </a>
        <ul class="mobile-nav">
            <li class="item">
                <a href="javascript:void(0)">Головна</a>
            </li>
            <li class="item">
                <span class="mobile-item">Послуги</span>
                <ul class="subitems">
                    <li>
                        <a href="javascript:void(0)">Музична школа</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Свята</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Табори</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Харчування</a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <a href="javascript:void(0)">Про нас</a>
            </li>
            <li class="item">
                <span class="mobile-item">Інтернет-магазин</span>
                <ul class="subitems">
                    <li>
                        <a href="javascript:void(0)">Музична школа</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Свята</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Табори</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Харчування</a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <span class="mobile-item">Освітній простір</span>
                <ul class="subitems">
                    <li>
                        <a href="javascript:void(0)">Музична школа</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Свята</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Табори</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Харчування</a>
                    </li>
                </ul>
            </li>
            <li class="item">
                <a href="javascript:void(0)">Блог</a>
            </li>
            <li class="item">
                <a href="javascript:void(0)">Контакти</a>
            </li>
        </ul>
        <ul class="language">
            <li class="item">
                <span href="javascript:void(0)">UA</span>

            </li>
            <ul class="lang_items">
                <li class="lang-item">
                    <a href="javascript:void(0)">RU</a>
                </li>
                <li class="lang-item">
                    <a href="javascript:void(0)">ENG</a>
                </li>
            </ul>

        </ul>
        <div class="contacts-phone">
            <p>Телефон:</p>
            <div class="wrapper-phone">
                <a href="javascript:void(0)">+380 093 427 41 84</a>
                <a href="javascript:void(0)">+380 093 427 41 84</a>
                <a href="javascript:void(0)">+380 093 427 41 84</a>
            </div>
        </div>
        <div class="social-items">
            <p>Наші соц. мережі:</p>
            <ul class="wrapper-flex">
                <li class="item">
                    <a href="javascript:void(0)">
                        <img src="img/viber.svg" alt="">
                    </a>
                </li>
                <li class="item">
                    <a href="javascript:void(0)">
                        <img src="img/telegram.svg" alt="">
                    </a>
                </li>
                <li class="item">
                    <a href="javascript:void(0)">
                        <img src="img/whatsapp.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>