<div class="modal_form">
    <div class="wrapper_form">
        <form action="#"  class="form form_popUp form_courses">
            <input type="hidden" name="page_name" value="Next Gen MBA">
            <span class="close"></span>
            <h2 class="form_title">Офомрлення курсу</h2>
            <span class="subtitle">Теорія, практика та індивідуальна підготовка до захисту проекту</span>
            <p class="form_descr">Залиште свої дані для оформлення курсу і наш менеджер зв’яжеться з вами!</p>
            <div class="inputs">
                <div class="input">
                    <input type="text" name="name" placeholder="Ваше ім’я">
                </div>
                <div class="input">
                    <input type="text" name="number" placeholder="+38 (___) __ __ ___">
                </div>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_2" name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_2">Я погоджуюсь з умовами політики
                    конфідеальності і дозволю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal">ВІдправити</button>
        </form>
        <form action="#" class="form form_popUp form_base">
            <input type="hidden" name="page_name" value="Next Gen MBA">
            <span class="close"></span>
            <h2 class="form_title">Отримати консультацію</h2>
            <p class="form_descr">Залиште свої дані і наш менеджер зв’яжеться з вами найближчим часом!</p>
            <div class="inputs">
                <div class="input">
                    <input type="text" name="name" placeholder="Ваше ім’я" >
                </div>
                <div class="input">
                    <input type="text" name="number" placeholder="+38 (___) __ __ ___">
                </div>
            </div>
            <div class="textarea">
                <textarea name="textarea" placeholder="Повідомлення"></textarea>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_1" name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_1">Я погоджуюсь з умовами політики конфідеальності і дозволю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal">ВІдправити</button>
        </form>
        <form action="#" class="form form_popUp form_excursion">
            <input type="hidden" name="page_name" value="Next Gen MBA">
            <span class="close"></span>
            <h2 class="form_title">Оформити запит на путівку!</h2>
            <p class="form_descr">Залиште свої дані для оформлення замовлення і наш менеджер зв’яжеться з вами!</p>
            <div class="inputs">
                <div class="input">
                    <input type="text" name="name" placeholder="Ваше ім’я">
                </div>
                <div class="input">
                    <input type="text" name="number" placeholder="+38 (___) __ __ ___">
                </div>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_3" name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_3">Я погоджуюсь з умовами політики конфідеальності і дозволю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal">Оформити запит на путівку!</button>
        </form>
        <form action="#" class="form form_popUp form_buy">
            <input type="hidden" name="page_name" value="Next Gen MBA">
            <span class="close"></span>
            <h2 class="form_title">Офомрлення курсу</h2>
            <p class="form_descr"></p>
            <div class="items_buy">
                <div class="item">
                    <div class="img">
                        <img src="https://honey-academy.artwebsol.com.ua/wp-content/themes/honey_academy/markup/img/cup.svg" alt="">
                    </div>
                    <div class="text">
                        <p class="descr">Чашка Honey Academy</p>
                        <span class="price">250 ₴</span>
                    </div>
                </div>
            </div>
            <div class="inputs">
                <div class="input">
                    <input type="text" name="name" placeholder="Ваше ім’я">
                </div>
                <div class="input">
                    <input type="text" name="number" placeholder="+38 (___) __ __ ___">
                </div>
            </div>
            <div class="textarea">
                <textarea name="textarea" placeholder="Повідомлення"></textarea>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_4" name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_4">Я погоджуюсь з умовами політики конфідеальності і дозволю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal" type="submit"></button>
        </form>
    </div>
    <div class="modal_thanks">
        <span class="close"></span>
        <span>Дякую за замовлення</span>
        <p>Наш менеджер зв’яжеться з вами найближчим часом!</p>
    </div>
</div>