<div class="modal_form">
    <div class="wrapper_form">
        <form action="#" class="form_popUp form_base">
            <span class="close"></span>
            <h2 class="form_title">Опишитіть ваше запитання</h2>
            <p class="form_descr">Залиште свої дані для оформлення замовлення і наш менеджер зв’яжеться з вами!</p>
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Ваше ім’я">
                </div>
                <div class="input">
                    <input type="text" placeholder="Номер телефону">
                </div>
            </div>
            <div class="textarea">
                <textarea name="textarea" placeholder="Залиште коментар..."></textarea>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_1"  name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_1">Я погоджуюсь з умовами <a
                        href="javascript:void(0)">політики конфіденційності</a> і
                    дозволяю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal">Замовити</button>
        </form>
        <form action="#" class="form_popUp form_courses">
            <span class="close"></span>
            <h2 class="form_title">Офомрлення курсу</h2>
            <span class="subtitle">Теорія, практика та індивідуальна підготовка до захисту проекту</span>
            <p class="form_descr">Залиште свої дані для оформлення замовлення і наш менеджер зв’яжеться з вами!</p>
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Ваше ім’я">
                </div>
                <div class="input">
                    <input type="text" placeholder="Номер телефону">
                </div>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_2"  name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_2">Я погоджуюсь з умовами <a
                        href="javascript:void(0)">політики конфіденційності</a> і
                    дозволяю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal">Замовити</button>
        </form>
        <form action="#" class="form_popUp form_excursion">
            <span class="close"></span>
            <h2 class="form_title">Черновецький національний табор</h2>
            <p class="form_descr">Залиште свої дані для оформлення замовлення і наш менеджер зв’яжеться з вами!</p>
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Ваше ім’я">
                </div>
                <div class="input">
                    <input type="text" placeholder="Номер телефону">
                </div>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_3" name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_3">Я погоджуюсь з умовами <a
                        href="javascript:void(0)">політики конфіденційності</a> і
                    дозволяю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal">Замовити</button>
        </form>
        <form action="#" class="form_popUp form_buy">
            <span class="close"></span>
            <h2 class="form_title">Оформити замовлення</h2>
            <p class="form_descr">Залиште свої дані для оформлення замовлення і наш менеджер зв’яжеться з вами!</p>
            <div class="items_buy">
                <div class="item">
                    <div class="img">
                        <img src="img/cup.svg" alt="">
                    </div>
                    <div class="text">
                        <p class="descr">Чашка Honey Academy</p>
                        <span class="price">250 ₴</span>
                    </div>
                </div>
            </div>
            <div class="inputs">
                <div class="input">
                    <input type="text" placeholder="Ваше ім’я">
                </div>
                <div class="input">
                    <input type="text" placeholder="Номер телефону">
                </div>
            </div>
            <div class="textarea">
                <textarea name="textarea" placeholder="Залиште коментар..."></textarea>
            </div>
            <div class="checkbox">
                <input type="checkbox" class="custom-checkbox" id="checkbox_modal_4" name="checkbox_modal" value="yes">
                <label class="checkbox_label-modal" for="checkbox_modal_4">Я погоджуюсь з умовами <a
                        href="javascript:void(0)">політики конфіденційності</a> і
                    дозволяю обробляти мої персональні дані</label>
            </div>
            <button class="btn btn_modal">Оформити замовлення</button>
        </form>
    </div>
</div>