<section class="our-team">
    <h2 class="title">Наш колектив</h2>
    <div class="our-team_swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_1.png') center center/cover no-repeat;">
                <span>Табарчук Ірина</span>
                <p>директорка Ліцею</p>
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_2.png') center center/cover no-repeat;">
                <span>Любинська Катерина</span>
                <p>керівниця Honey Music School</p>
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_3.png') center center/cover no-repeat;">
                <span>Кошман Анастасія</span>
                <p>очільниця Honey Academy</p>
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_4.png') center center/cover no-repeat;">
                <span>Медовая Марина</span>
                <p>очільниця Honey Academy</p>
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_1.png') center center/cover no-repeat;">
                <span>Табарчук Ірина</span>
                <p>директорка Ліцею</p>
            </div>
            <div class="swiper-slide"
                style="background: url('img/our-team_slide_2.png') center center/cover no-repeat;">
                <span>Кошман Анастасія</span>
                <p>очільниця Honey Academy</p>
            </div>
        </div>
        <div class="swiper-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            
        </div>
    </div>
</section>