<section class="reviews">
    <h2 class="title">Відгуки</h2>
    <div class="reviews-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-top">
                    <img src="img/reviews_1.png" alt="">
                    <div class="slide-title">
                        <span>Наталія</span>
                        <p>мама учениці 6 класу</p>
                    </div>
                </div>
                <p class="slide-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время
                    некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                    Ipsum для распечатки образцов.</p>
            </div>
            <div class="swiper-slide">
                <div class="slide-top">
                    <img src="img/reviews_1.png" alt="">
                    <div class="slide-title">
                        <span>Наталія</span>
                        <p>мама учениці 6 класу</p>
                    </div>
                </div>
                <p class="slide-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время
                    некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                    Ipsum для распечатки образцов.</p>
            </div>
            <div class="swiper-slide">
                <div class="slide-top">
                    <img src="img/reviews_1.png" alt="">
                    <div class="slide-title">
                        <span>Наталія</span>
                        <p>мама учениці 6 класу</p>
                    </div>
                </div>
                <p class="slide-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время
                    некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                    Ipsum для распечатки образцов.</p>
            </div>
            <div class="swiper-slide">
                <div class="slide-top">
                    <img src="img/reviews_1.png" alt="">
                    <div class="slide-title">
                        <span>Наталія</span>
                        <p>мама учениці 6 класу</p>
                    </div>
                </div>
                <p class="slide-text">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                    Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время
                    некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem
                    Ipsum для распечатки образцов.</p>
            </div>
        </div>
        <div class="swiper-btn">
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-next"></div>
            
        </div>
    </div>
    <img class="top" src="img/why-choose.png" alt="">
    <img class="bottom" src="img/why-choose_bottom.png" alt="">
</section>