<section class="blog_news-more hideQuantity">
    <div class="container">
        <div class="wrapper">
            <h2 class="title title-center">Читайте також:</h2>
            <ul class="items">
                <li class="item">
                    <a href="javascript:void(0)">
                        <img src="img/blog-items_bg.png" alt="" class="bg">
                        <p>Підготовка до школи Ключові аспекти успішного переходу.</p>
                    </a>
                </li>
                <li class="item">
                    <a href="javascript:void(0)">
                        <img src="img/blog-items_bg.png" alt="" class="bg">
                        <p>Підготовка до школи Ключові аспекти успішного переходу.</p>
                    </a>
                </li>
                <li class="item">
                    <a href="javascript:void(0)">
                        <img src="img/blog-items_bg.png" alt="" class="bg">
                        <p>Підготовка до школи Ключові аспекти успішного переходу.</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>