<section class="privacy_policy-main">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="javascript:void(0)">Головна</a>
            </li>
            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="javascript:void(0)">Галерея</a>
            </li>
            <li class="breadcrumbs-item">
                <span class="breadcrumbs-link  current">Дитячий садок</span>
            </li>
        </ul>
        <h1 class="title title-center">Політика конфедиційності</h1>
        <span class="subtitle">Збір та використання персональних даних</span>
        <p>Персональні дані – це відомості або сукупність відомостей про фізичну особу, яка ідентифікована або може бути
            ідентифікована.</p>
        <p>Відвідувач — це дієздатна фізична особа, яка здійснює перегляд пропозицій до продажу, розміщених на Сайті,
            та/або
            здійснює Замовлення товарів/послуг, пропозиції про які розміщені на Сайті, бере участь в акціях, розміщених
            на Сайті,
            для цілей, не пов'язаних із здійсненням підприємницької діяльності діяльності, чи юридична особа, чи фізична
            особа-підприємець.</p>
        <p>Відвідувач шляхом відвідування Сайту, здійснення Замовлення та/або шляхом заповнення форми для реєстрації на
            Сайті,
            та/або участі в акції, та/або за будь-якої комунікації з Адміністрацією Сайту (листування, телефонна розмова
            тощо)
            підтверджує надання Адміністрації Сайту згоди на обробку, зберігання та використання його персональних
            даних, згідно із
            Законом України «Про захист персональних даних» від 01 червня 2010 року № 2297-VІ, та інших
            нормативно-правових актів
            України, що стосуються захисту персональних даних.</p>
        <p>Надання Відвідувачем персональних даних є добровільним та необхідним для здійснення Замовлення
            товарів/послуг,
            пропозиції щодо яких розміщено на Сайті.</p>
        <p>Існує обов'язковий перелік інформації, яка має бути внесена та/або надана Відвідувачем під час здійснення
            Замовлення на
            Сайті. Без зазначення такої обов'язкової інформації українською мовою виконання Замовлень продавцями
            товарів/послуг,
            пропозиції про які розміщені на Сайті, можуть бути некоректними, ускладненими або навіть неможливими.</p>
        <p>Відвідувач несе відповідальність за достовірність та актуальність персональних даних, зазначених/наданих під
            час
            здійснення Замовлення, реєстрації на Сайті, під час листування, телефонної розмови, будь-якої іншої
            комунікації з
            Адміністрацією Сайту, а також за своєчасність повідомлення про їх зміну. Адміністрація Сайту не зобов'язана
            перевіряти
            відповідність дійсності відомостей, вказаних Відвідувачем.</p>
        <p>Обов'язкова інформація, яка має бути надана, внесена Відвідувачем під час здійснення Замовлення та/або під
            час
            реєстрації на Сайті, є така: ім'я, прізвище, номер мобільного телефону, адреса електронної пошти (e-mail).
        </p>
        <p>Відвідувачу може бути запропоновано надати інші персональні дані для реєстрації на Сайті та/або використання
            інших
            сервісів Сайту.</p>
        <p>Відвідувач шляхом відвідування Сайту, здійснення Замовлення та/або шляхом заповнення форми для реєстрації на
            Сайті,
            та/або участі в акції, та/або за будь-якої комунікації з Адміністрацією Сайту (листування, телефонна розмова
            тощо) також
            підтверджує надання Адміністрації Сайту згоди на обробку, зберігання та використання інформації про
            з'єднання, трафік,
            дату та час тривалості перебування Відвідувача на Сайті.</p>
        <p>Персональні дані Відвідувачів обробляються, використовуються, зберігаються для забезпечення обміну
            інформацією з
            партнерами Сайту, відносин у сфері реклами та комунікації, для відправки Відвідувачу поштою, електронною
            поштою,
            телефоном та/або SMS та/або Viber та/або Telegram, іншими месенджерами будь-якої інформації комерційного
            та/або
            інформаційного характеру тощо. відповідно до чинного законодавства України, на що Відвідувачем Сайту шляхом
            відвідування
            Сайту, здійснення Замовлення та/або шляхом заповнення форми для реєстрації на Сайті було надано згоду.</p>
        <p>На сайті фіксується доменне ім'я або IP-адреса пристрою Відвідувача, дата доступу, файли (ім'я файлу та URL),
            код
            відповіді HTTP та веб-сайт, з якого Відвідувач потрапив на Сайт, кількість байт, переданих під час сесії, на
            що
            Відвідувачем Сайту шляхом відвідування Сайту, здійснення Замовлення та/або шляхом заповнення форми для
            реєстрації на
            Сайті було надано згоду.</p>
        <p>При роботі Сайту використовуються файли cookie, на що Відвідувачем Сайту шляхом відвідування Сайту,
            здійснення
            Замовлення та/або шляхом заповнення форми для реєстрації на Сайті було надано згоду. Адміністрація Сайту
            використовує
            cookies для визначення характеристик Сайту та пропозицій, які Відвідувачеві найбільше подобаються, з метою
            надання йому
            більше інформації, в якій Він зацікавлений. Крім того, файли cookie використовуються, щоб зробити Сайт
            безпечним,
            захищеним та зручним. Файли cookie забезпечують безпеку та їх запуск. Файли cookie також дозволяють
            відстежувати
            порушення політики конфіденційності, інших угод/правил Сайту Відвідувачами та їх пристроями. Файли cookie
            допомагають
            оцінити кількість та частоту запитів, а також виявляти та блокувати тих відвідувачів або пристрої, які
            намагаються
            виконати пакетні завантаження інформації з сайту.</p>
        <p>За допомогою системи Google Analytics збирається статистика про відвідування Сайту, зокрема про відвідувані
            сторінки,
            кількість переглядів сторінок, завантажену інформацію, домени інтернет-провайдерів та країни походження
            Відвідувачів, а
            також адреси веб-сайтів, відвіданих до та після Сайту тощо. , на що Відвідувачем Сайту шляхом відвідування
            Сайту,
            здійснення Замовлення та/або шляхом заповнення форми для реєстрації на Сайті було надано згоду.</p>
        <p>Адміністрація Сайту не може гарантувати повного захисту персональних даних Відвідувача, проте докладатиме
            всіх зусиль
            для захисту персональних даних на найвищому рівні.</p>
        <span class="subtitle">Умови надання інформації (Disclaimer)</span>
        <p>Сайт може містити посилання на інші веб-сайти. Такі посилання наводяться виключно для інформаційних цілей та
            допомагають нам повніше розкрити інформацію або ілюструють розміщений матеріал. Той факт, що ми даємо
            посилання на зовнішній ресурс, не означає, що ми повністю схвалюємо викладені там позиції чи ідеї, а також
            не гарантуємо достовірність інформації, що там розміщується. Ми не несемо відповідальності за політику
            конфіденційності або зміст цих сайтів. Якщо у вас виникли питання чи сумніви щодо цієї політики, Ви можете
            зв'язатися з нами за адресою, розміщеною на Сайті</p>
        <span>Автоматичний збір та використання інформації</span>
        <p>Сайт може містити посилання на інші веб-сайти. Такі посилання наводяться виключно для інформаційних цілей та
            допомагають нам повніше розкрити інформацію або ілюструють розміщений матеріал. Той факт, що ми даємо
            посилання на зовнішній ресурс, не означає, що ми повністю схвалюємо викладені там позиції чи ідеї, а також
            не гарантуємо достовірність інформації, що там розміщується. Ми не несемо відповідальності за політику
            конфіденційності або зміст цих сайтів. Якщо у вас виникли питання чи сумніви щодо цієї політики, Ви можете
            зв'язатися з нами за адресою, розміщеною на Сайті</p>
        <span class="subtitle">Автоматично збирається та зберігається наступна інформація, на що Відвідувачем Сайту шляхом відвідування
            Сайту, здійснення Замовлення та/або шляхом заповнення форми для реєстрації на Сайті надається згода:</span>
        <ul class="privacy_policy-items">
            <li>доменне ім'я, IP-адреса, за допомогою якої ви заходите на Сайт;</li>
            <li>вид браузера та операційної системи;</li>
            <li>дата та час відвідування Сайту;</li>
            <li>переглянуті сторінки;</li>
            <li>якщо Ви перейшли на Сайт за посиланням з іншого сайту, це адреса цього сайту.</li>
        </ul>
        <p>Відомості про трафік, що проходить через мережу, електронною поштою та активність відвідувача в мережі
            Інтернет на Сайті
            захищені відповідно до законодавства України. Це означає, що Сайт не може втручатися у таємницю
            телекомунікацій.</p>
        <p>Ми маємо право надати будь-яку особисту інформацію Відвідувачів Сайту на вимогу правоохоронних органів, на
            визначення/рішення суду або в рамках інших законних процедур, або на іншу правомірну вимогу, відповідно до
            чинного
            законодавства України.</p>
        <p>Ми не несемо відповідальності за втрачений зиск, неотриманий прибуток, втрату даних або будь-які інші збитки
            Відвідувачів Сайту, якщо такі виникли при користуванні Сайтом. Відвідувач Сайту використовує Сайт на власний
            ризик. У
            межах, максимально дозволених законом, ні Сайт, ні будь-яка інша сторона, притягнута до створення,
            виробництва або
            обслуговування Сайту, не несе відповідальності за пряме, непряме чи випадкове ушкодження, яке будь-коли
            наносилося та
            завдано тим, що Відвідувач мав доступ до Сайту, користувався ним або чекав на нього, навіть якщо Відвідувача
            було
            попереджено про можливість таких пошкоджень та втрат.</p>
        <p>Ми не гарантуємо та не стверджуємо, що використання матеріалу, що надається на Сайті, не завадить інтересам
            третіх осіб.</p>
        <p>Усі права на утримання Сайту належать адміністрації сайту або використовуються за згодою з правовласниками.
            Цей сайт
            загалом та його окремі елементи охороняються актами чинного законодавства України та міжнародними
            договорами.</p>
        <p>Відвідувачі Сайту не повинні поширювати, змінювати, передавати, користуватися або використовувати повторно
            будь-яку
            інформацію з Сайту для будь-яких публічних чи комерційних цілей без письмового дозволу Адміністрації Сайту.
            Відвідувачі
            повинні дотримуватись усіх прав інтелектуальної власності на завантажені та/або скопійовані матеріали.
            Скопійована
            інформація має містити активне посилання на Сайт.</p>
        <p>Копіювання інформації з Сайту може бути здійснене виключно з некомерційною метою для розміщення на сторінках
            Відвідувача, у блогах, соціальних мережах.</p>
        <p>Під час роботи з Сайтом Відвідувачу не надаються права ні на інтелектуальну власність, ні на сам Сайт, ні на
            його зміст
            чи використання будь-яких елементів брендингу чи логотипів Сайту.</p>
        <p>Якщо Ви відвідуєте цей Сайт, Ви автоматично погоджуєтесь з цією Політикою Конфіденційності та її умовами.
            Якщо Ви не
            погоджуєтесь з чинною Політикою Конфіденційності та її умовами, Ви повинні залишити цей Сайт.</p>
        <span class="subtitle">Изменение Политики конфиденциальности</span>
        <p>Користуючись Сайтом, відвідувач прийняв умови цієї Політики Конфіденційності, враховує та погоджується з тим,
            що ця
            Політика Конфіденційності може час від часу змінюватися одноосібно Адміністрацією Сайту. Зміни, внесені до
            Політики
            конфіденційності, публікуються на цій сторінці Сайту.</p>
        <p>У деяких випадках Адміністрація Сайту залишає за собою право публікувати окремі примітки щодо
            конфіденційності для
            певних програм.</p>
    </div>
</section>